<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC  
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 别名 -->
	<typeAliases>
		<typeAlias type="java.util.LinkedHashMap" alias="linkedhashmap" />
		<package name="com.woyao.business" />
		<package name="com.bean" />
	</typeAliases>
	<plugins>
		<plugin interceptor="com.woyao.system.spring.interceptor.PagePluginInterceptor">
			<property name="dialect" value="mysql" />
			<property name="pageSqlId" value=".*istPage.*"/>
		</plugin>
	</plugins>
</configuration>  